mixin dropdown({ isOpen=false, group="", elements=[] })
  -
    const openClassModifier = isOpen ? "dropdown_open" : ""
    const isGroupComfort = group === "comfort"
    const inputValue = group === "guests" ? "Сколько гостей" : "Удобства номера"

  .dropdown(class=openClassModifier, class=`dropdown_type_${group}` data-group=`${group}`,)
    input&attributes({
      type: "text", 
      class: "dropdown__input js-dropdown__input", 
      "data-type": "input", 
      value: inputValue,
      readonly: "readonly",
      onmousedown: "return false"
      })
    div(class="dropdown__arrow-down")&attributes({"data-type": "arrow", onmousedown: "return false" })
    .dropdown__drop.js-dropdown__drop
      ul.dropdown__menu.js-dropdown__menu
        each elem in elements
          li.dropdown__menu-item.js-dropdown__menu-item(data-id= `${elem.title}`)
            .dropdown__menu-item-text #{elem.title}
            .dropdown__controls
              button&attributes({
                class: "dropdown__decrement js-dropdown__decrement",
                type: "button",
                "data-type": "decrement"
                })
              input&attributes({
                class: "dropdown__counter js-dropdown__counter", 
                type: "text", 
                value: elem.count,
                tabindex: -1,
                readonly: "readonly",
                onmousedown: "return false"
              })
              button&attributes({
                class: "dropdown__increment js-dropdown__increment",
                type: "button",
                "data-type": "increment"
                })

