//-DEFAULT
button(
	class="button button_size_s"
	type="submit"
	name="click me"
	)
	span.button_text-color_white.font__h3 click me
//-REVERSE
button(
	class="button button_size_s"
	type="submit"
	name="click me"
	)
	span.button_text-color_purple.font__h3 click me
	.button_border
//-REVERSE-DISABLE
button(
	class="button button_size_s button_disable"
	type="submit"
	name="click me"
	)
	span.button_text-color_purple.font__h3 click me
	.button_border
//-DEFAULT-DISABLE
button(
	class="button button_size_s button_disable"
	type="submit"
	name="click me"
	)
	span.button_text-color_white.font__h3 click me
//-INLINE-COLOR
button(
	class="button button_inline"
	type="submit"
	name="click me"
	)
	span.button_text-color_purple.font__h3 click me
//-INLINE-NOT-COLOR
button(
	class="button button_inline"
	type="submit"
	name="click me"
	)
	span.button_text-color_gray.font__h3 click me
//-DEFAULT-LARGE
button(
	class="button button_size_large"
	type="submit"
	name="click me"
	)
	span.button_text-color_white.font__h3 Перейти к оплате
		i.button__arrow.material-icons arrow_forward