button(
	class="button__btn button__btn_size_s"
	type="submit"
	name="click me"
	)
	span.button_text-color_none.font__h3 click me
button(
	class="button__btn button__btn_size_s"
	type="submit"
	name="click me"
	)
	span.button_text-color_none.font__h3 click me
	.button__btn_reverse
	
button(
	class="button__btn button__btn_size_s button__btn_opasity"
	type="submit"
	name="click me"
	)
	span.button_text-color_none.font__h3 click me
button(
	class="button__btn button_inline"
	type="submit"
	name="click me"
	)
	span.button_text-color_main.font__h3 click me
button(
	class="button__btn button_inline"
	type="submit"
	name="click me"
	)
	span.button_text-color_second.font__h3 click me
button(
	class="button__btn button__btn_size_large"
	type="submit"
	name="click me"
	)
	span.button_text-color_none.font__h3 click me