mixin chart({ sumOfVote="", items=[] })
  - const hiddenClass = hidden && "chart__circle_hidden"
  .chart(data-id="chart")
    .chart__doughnut
      svg(class="chart__body" viewBox="0 0 34 30" data-id="body")
        each item in items
          - const typeClass = `chart__circle_type_${item.type}` 
          circle(
            class=`chart__circle ${typeClass}` 
            r="15.9"
            cx="50%"
            cy="50%"
            stroke=`url(#${item.colorName})`
            data-id="circle"
            data-type=`${item.type}`
          )

        g(class="chart__sum-of-vote" fill="#BC9CFF" data-id="sum-of-vote")
          text(class="chart__number" text-anchor="middle" x="50%" y="49%") #{sumOfVote}
          text(class="chart__text" text-anchor="middle" x="50%" y="67%") голосов

        each item in items
          linearGradient(id=`${item.colorName}` x1="60" y1="0" x2="60" y2="120")
            stop(offset="0" stop-color=`${item.firstStopColor}`)
            stop(offset="1" stop-color=`${item.secondStopColor}`)

    .chart__legend
      ul.chart__legend-list
        each item in items
          - const legendClass = `chart__legend-item_type_${item.type}`
          li.chart__legend-item(class=`${legendClass}` data-id="legend-item" data-type=`${item.type}` tabindex=0) #{item.label}