button(
	class="like__button like__button_disable"
	type="submit"
	name="click me"
	)
	span.like__text.like__text_disable 2
	.button__like_border
		i.like__icon.like__icon_disable.material-icons favorite_border
button(
	class="like__button"
	type="submit"
	name="click me"
	)
	span.like__text 12
	.button__like_border
		i.like__icon.material-icons favorite