mixin button({ type="button", buttonName="button", link="", size="inline", textColor="gray", buttonVariation="inline", disabled=false } = {})
  -
    const mainClass = "button"
    const sizeClassModifier = `button_${size}`
    const textClassModifier = `button__text_${textColor}`
    
    const buttonAttributes = {
      link: {
        class: [ mainClass, sizeClassModifier ],
        href: `./${link}.html`,
      },
      button: {
        class: [ mainClass, sizeClassModifier ],
        type: type,
        disabled: disabled,
      }
    }

  if link
    a&attributes(buttonAttributes.link) 
      case buttonVariation
        when "fillWhite"
          span.button__text(class=textClassModifier) #{buttonName}
          span.button__fill.button__fill_white
        when "withArrow"
          span.button__text(class=textClassModifier) #{buttonName}
          span.button__arrow
        default
          span.button__text(class=textClassModifier) #{buttonName}
  else
    button&attributes(buttonAttributes.button) 
      case buttonVariation
        when "fillWhite"
          span.button__text(class=textClassModifier) #{buttonName}
          span.button__fill.button__fill_white
        when "withArrow"
          span.button__text(class=textClassModifier) #{buttonName}
          span.button__arrow
        default
          span.button__text(class=textClassModifier) #{buttonName}