mixin button({ classList=[], type="button", buttonName="button", link="", size="inline", textColor="gray", buttonVariation="inline"})
  -
    const mainButtonClass = "button"
    const buttonSizeClass = `button_size_${size}`
    const buttonTextColor = `button_text-color_${textColor}`
    classList.push(mainButtonClass, buttonSizeClass)
    
    let buttonAttributes = {
      link: {
        class: classList,
        href: `./${link}.html`,
      },
      button: {
        class: classList,
        type: type,
      }
    }
  if link
    a&attributes(buttonAttributes.link) 
      case buttonVariation
        when "fillWhite"
          span(class=buttonTextColor) #{buttonName}
          .button_fill-white
        when "withArrow"
          span(class=buttonTextColor) #{buttonName}
          .button__arrow
        default
          span(class=buttonTextColor) #{buttonName}
  else
    button&attributes(buttonAttributes.button) 
      case buttonVariation
        when "fillWhite"
          span(class=buttonTextColor) #{buttonName}
          .button_fill-white
        when "withArrow"
          span(class=buttonTextColor) #{buttonName}
          .button__arrow
        default
          span(class=buttonTextColor) #{buttonName}