mixin button({ classList=[], type="button", buttonName="button", link="", size="inline", textColor="gray", buttonVariation="inline", focused=false })
  -
    const mainClass = "button"
    const sizeClass = `button_${size}`
    const textColorClass = `button__text_${textColor}`
    const focusedClass = focused ? "button_focused" : ""
    
    let buttonAttributes = {
      link: {
        class: [ mainClass, sizeClass, focusedClass ],
        href: `./${link}.html`,
      },
      button: {
        class: [ mainClass, sizeClass, focusedClass ],
        type: type,
      }
    }
  if link
    a&attributes(buttonAttributes.link) 
      case buttonVariation
        when "fillWhite"
          span(class=textColorClass) #{buttonName}
          .button_fill-white
        when "withArrow"
          span(class=textColorClass) #{buttonName}
          .button__arrow
        default
          span(class=textColorClass) #{buttonName}
  else
    button&attributes(buttonAttributes.button) 
      case buttonVariation
        when "fillWhite"
          span(class=textColorClass) #{buttonName}
          .button_fill-white
        when "withArrow"
          span(class=textColorClass) #{buttonName}
          .button__arrow
        default
          span(class=textColorClass) #{buttonName}