include ../text-field/text-field.pug
include ../heading/heading.pug

mixin date-dropdown({ type="", dataType="", dataTypeEnd="", placeholder="", size="", name="date", autocomplete="", arrow=false, readonly=false, lowercase=false, twoInputs=false, startTitle="", endTitle="" })
  - const dataId = dataType === "inline-date-dropdown" ? "date-inline" : "date-filter"

  if twoInputs
    .date-dropdown(data-id="date-filter-double")
      .date-dropdown__two-inputs
        .date-dropdown__start
          +heading({ level: "h3", title: startTitle })
          +text-field({
            type,
            dataType,
            placeholder, 
            size,
            name,
            autocomplete,
            arrow,
            readonly,
            lowercase,
          })
        .date-dropdown__end
          +heading({ level: "h3", title: endTitle })
          +text-field({
            type,
            placeholder, 
            size,
            name,
            autocomplete, 
            arrow,
            readonly,
            lowercase,
            dataType: dataTypeEnd,
          })
  else
    .date-dropdown(data-id=dataId)
      +text-field({ type, dataType, placeholder, size, name, autocomplete, arrow, readonly, lowercase })