form.checkbox__wrap
	p.checkbox__title Checkbox buttons
	label.checkbox
		input(
			class="checkbox__input"
			type="checkbox"
			name="Можно курить"
		)
		span.checkbox__box
		| Можно курить
	label.checkbox
		input(
			class="checkbox__input"
			type="checkbox"
			name="Можно с питомцами"
		)
		span.checkbox__box
		| Можно с питомцами
	label.checkbox
		input(
			class="checkbox__input"
			type="checkbox"
			name="Можно пригласить гостей"
			checked
		)
		span.checkbox__box 
		| Можно пригласить гостей (до 10 человек)