mixin like({ icon="", value=0, disabled=false } = {})
  -
    const btnDisableClassName = disabled ? "like_inactive-border" : ""
    const disableText = disabled ? "like__text_inactive" : ""
    const iconName = disabled ? `empty-${icon}` : icon 
    const likeIconClass = "like__icon"
    const likeIconModifier = `like__icon_${iconName}`

  button&attributes({
    class: ["like", `${btnDisableClassName}`],
    type: "button",
    "data-id": "like-button",
    name: "like",
    tabindex: 0,
  })
    span&attributes({
      class: ["like__text", disableText],
      "data-id": "like-text"
    }) #{value}
    span.like__button-border
      span&attributes({
        class: [
          likeIconClass,
          likeIconModifier,
        ],
        "data-id": "like-icon",
      })