include ../like/like.pug

mixin comment({ imageName="", name="", commentText="", dateOfVisit="", likeCount=0, isDisable=false })
  .comment
    .comment__header
      img&attributes({
        class: "comment__avatar",
        src: require(`../../pages/room-details-page/images/avatars/${imageName}`).default,
        alt: "avatar"
      })
      .comment__description
        .comment__name #{name}
        .comment__date-of-visit #{dateOfVisit}
    .comment__body
      .comment__like
        +like({ icon: "heart", value: likeCount, disable: isDisable })
      p.comment__text
        | #{commentText}