.dropdown.open
	input(
		type="text"
		class="dropdown__input"
		data-type="input"
		value="Сколько гостей"
	)
	.fa.fa-chevron-down(data-type="arrow")
	.dropdown__drop
		.dropdown__menu.font__h3
			div.dropdown__menu-item(data-id="adults")
				.dropdown__menu-item_text Взрослые
				.dropdown__controls
					div(
						class="controls__decrement"
						data-type="decrement"
						)
					input(
						type="text"
						class="controls__counter"
						value="0"
						)
					div(
						class="controls__increment"
						data-type="increment"
						)


			div.dropdown__menu-item(data-id="children")
				.dropdown__menu-item_text Дети
				.dropdown__controls
					div(
						class="controls__decrement"
						data-type="decrement"
						)
					input(
						type="text"
						class="controls__counter"
						value="0")
					div(
						class="controls__increment"
						data-type="increment"
						)


			div.dropdown__menu-item(data-id="babies")
				.dropdown__menu-item_text Младенцы
				.dropdown__controls
					div(
						class="controls__decrement"
						data-type="decrement"
						)
					input(
						type="text"
						class="controls__counter"
						value="0")
					div(
						class="controls__increment"
						data-type="increment"
						)