include ../header/header.pug
include ../room-photo/room-photo.pug
include ../dignity-room/dignity-room.pug
include ../comment/comment.pug
include ../chart/chart.pug
include ../bullet-list/bullet-list.pug
include ../card/card.pug
include ../footer/footer.pug

mixin room-details({ header={}, roomPhoto={}, roomDignities={}, feedback={}, bulletList={}, cancel={}, calculationCard={}, footer={} })
  body
    .room-details 
      header.room-details__header
        +header(header)
      .room-details__room-photo
        +room-photo({ roomPhoto })
      .room-details__content
        .room-details__information
          .information__dignity
            h3.information__title #{roomDignities.title}
            each dignity in roomDignities.items
              +dignity-room(dignity)

          .information__impressions
            +chart()

          .information__feedback
            .feedback__header
              h3.information__title #{feedback.title}
              .information__subtitle #{feedback.subtitle}
            .feedback__item
              each comment in feedback.items
                +comment(comment)

          .information__rules
            h3.information__title #{bulletList.title}
            .rules__list
              +bullet-list(bulletList)

          .information__cancel
            h3.information__title #{cancel.title}
            p.cancel__text #{cancel.text}

        .room-details__calculation
          +card(calculationCard)

    footer.room-details__footer
      +footer(footer)