mixin room-photo({ main, asideTop, asideBottom, alt })
  .room-photo__main
    img&attributes({
      class: "room-photo__item",
      src: require(`./image/${main}`).default,
      alt: `${alt}`
    })
  .room-photo__aside
    .room-photo__aside_top
      img&attributes({
        class: "room-photo__item",
        src: require(`./image/${asideTop}`).default,
        alt: `${alt}`
      })
    .room-photo__aside_bottom
      img&attributes({
        class: "room-photo__item",
        src: require(`./image/${asideBottom}`).default,
        alt: `${alt}`
      })