mixin room-photo({ main="", asideTop="", asideBottom="", alt="" })
  .room-photo
    .room-photo__main
      img&attributes({
        class: "room-photo__item",
        src: require(`../../images/page-background/${main}`).default,
        alt: `${alt}`
      })
    .room-photo__aside
      .room-photo__aside-top
        img&attributes({
          class: "room-photo__item",
          src: require(`../../images/page-background/${asideTop}`).default,
          alt: `${alt}`
        })
      .room-photo__aside-bottom
        img&attributes({
          class: "room-photo__item",
          src: require(`../../images/page-background/${asideBottom}`).default,
          alt: `${alt}`
        })