mixin room-photo({ roomPhoto={} })
  - const { main, asideTop, asideBottom, alt } = roomPhoto
  .room-photo__main
    img&attributes({
      class: "room-photo__item",
      src: require(`../components/room-details/image/${main}`).default,
      alt: `${alt}`
    })
  .room-photo__aside
    .room-photo__aside_top
      img&attributes({
        class: "room-photo__item",
        src: require(`../components/room-details/image/${asideTop}`).default,
        alt: `${alt}`
      })
    .room-photo__aside_bottom
      img&attributes({
        class: "room-photo__item",
        src: require(`../components/room-details/image/${asideBottom}`).default,
        alt: `${alt}`
      })