mixin room-photo({ main="", asideTop="", asideBottom="", alt="" })
  .room-photo
    .room-photo__main
      img&attributes({
        class: "room-photo__item",
        src: require(`../../pages/room-details-page/images/room-photo/${main}`),
        alt: `${alt}`
      })
    .room-photo__aside
      .room-photo__aside-top
        img&attributes({
          class: "room-photo__item",
          src: require(`../../pages/room-details-page/images/room-photo/${asideTop}`),
          alt: `${alt}`
        })
      .room-photo__aside-bottom
        img&attributes({
          class: "room-photo__item",
          src: require(`../../pages/room-details-page/images/room-photo/${asideBottom}`),
          alt: `${alt}`
        })