include ../../components/logo/logo.pug
include ../../components/navigation/navigation.pug
include ../../components/button/button.pug

mixin header(params = {})
  -
    const {
      logo={},
      navigationList=[],
      buttonEntry="",
      buttonRegister="",
      logged=false,
      userName=""
    } = params

  header.header
    .header__container
      .header__body.js-header__body
        +logo(logo)
        .header__menu-burger.js-header__menu-burger
          span.header__menu-burger-button
        .header__menu
          .header__navigation
            +navigation({ navigationList, navigationSubList })
          if logged
            p.header__logged #{userName}
          else
            .header__login
              .header__login-entry
                +button({
                  buttonName: buttonEntry,
                  size: "stretching",
                  textColor: "purple",
                  buttonVariation: "fillWhite",
                  link: "sign-in-page"
                })
              .header__login-register
                +button({
                  buttonName: buttonRegister,
                  size: "stretching",
                  textColor: "white",
                  link: "registration-page"
                })