mixin checkbox({ title="", dropdown=false, rich=false, listItems=[], isOpened=true})
  -
    const titleClassName = "checkbox__title"
    const descriptionClassName = "checkbox__description"
    const titleFontBoldModifier = rich ? "checkbox__title_font_bold" : ""
    const openDropdownModifier = isOpened ? "checkbox__list_opened" : ""

  .checkbox
    if dropdown
      .checkbox__dropdown(data-id="checkbox-dropdown" tabindex=0)
        h3.checkbox__dropdown-title #{title}
        span.checkbox__dropdown-arrow-down(data-id="checkbox-dropdown-arrow")
    ul.checkbox__list(class=openDropdownModifier data-id="checkbox-list")
      each item in listItems
        li.checkbox__item
          label.checkbox__item-container
            input&attributes({
              class: "checkbox__input",
              type: "checkbox",
              title: item.title,
              checked: item.checked,
            })
            span.checkbox__box
            span&attributes({class: [titleClassName, titleFontBoldModifier]}) #{item.title}
              if rich
                span(class=descriptionClassName) #{item.description}