include ../../components/links/links.pug
include ../../components/subscribe/subscribe.pug
include ../../components/logo/logo.pug
include ../../components/social/social.pug

mixin footer({ logo={}, footerText="", footerNavigation={}, subscribe={}, copyright={}, social={}, border=false })
  - const borderTopClass = border ? "footer_with-top-border" : ""
  
  footer.footer(class=borderTopClass)
    .footer__container
      .footer__wrapper 
        .footer__logo
          +logo(logo)
          p.footer__award #{footerText}
        .footer__links
          .footer__links-column
            +links(footerNavigation.column1)
          .footer__links-column
            +links(footerNavigation.column2)
          .footer__links-column
            +links(footerNavigation.column3)
        +subscribe(subscribe)
      .footer__bottom
        .footer__bottom-container
          .footer__copyright-text #{copyright.text}
          .footer__social
            +social(social)

  footer.footer-mobile
    .footer-mobile__wrapper
      +logo(logo)
      .footer-mobile__copyright-text #{copyright.text}
      .footer-mobile__social
        +social(social)