mixin error-page({ title="", mainText="", linkTitle="", linkText="", link="" })
  .canvas
    .box_front
      .sea
      .ship
        .smoke
          .smoke-1
          .smoke-2
          .smoke-3
        .ship_smokestack
        .ship_window
      .sun-wrapper
        .sun
          div
          div
          div
          div
          div
          div
          div
          div
          div
          div
      .cloud.cloud-1
      .cloud.cloud-2
      .cloud.cloud-3
      .cloud.cloud-4
      .cloud.cloud-5
      .errorPage
        h1.errorPage__title #{title}
        h2.errorPage__text #{mainText}
          p.errorPage__link #{linkTitle}
            a(href=`./${link}`)  #{linkText}