mixin text-field({ classList=[], dropdown="", type="", placeholder="", size="", name="", autocomplete="off", spellcheck=false, subscribe=false, arrow=false, readonly=false })

  -
    const mainTextFieldClass = "text-field__input"
    classList.push(mainTextFieldClass)
    const sizeTextFieldClass = `text-field__size_${size}`
    const hoverTextFieldClass = classList.includes("text-field_hover") ? "text-field_hover" : ""
    const dropdownStart = dropdown === "start" ? "js-date-dropdown__day-start" : ""
    const dropdownEnd = dropdown === "end" ? "js-date-dropdown__day-end" : ""
    classList.push(dropdownStart, dropdownEnd)

    let inputAttributes = {
      class: classList,
      type: type,
      name: name,
      autocomplete: autocomplete,
      placeholder: placeholder,
      spellcheck: spellcheck,
      readonly: readonly,
    }
  .text-field(class=[hoverTextFieldClass, sizeTextFieldClass])
    input&attributes(inputAttributes)
    if arrow
      div(class="text-field__arrow_down")&attributes({"data-type": "arrow", onmousedown: "return false"})
    if subscribe
      button&attributes({
        class: ["text-field__subscribe_button", "gradient"],
        type: "button",
        name: "subscribe"
      })