mixin text-field({ type="", dataType="", placeholder="", size="", name="", autocomplete="off", focused=false, isLowercase=false, withSpellcheck=false, isSubscription=false, hasArrow=false, isReadonly=false } = {})

  -
    const mainClass = "text-field__input"
    const sizeClass = `text-field_size_${size}`
    const focusedClass = focused ? "text-field_focused" : ""
    const textLowercaseClass = isLowercase ? "text-field__input_lowercase-text" : ""
    const inputWithoutArrowClass = isSubscription ? "text-field__input_without-arrow" : ""

    const inputAttributes = {
      class: [mainClass, maskedClass, filterDropdown, textLowercaseClass, inputWithoutArrowClass],
      type: type,
      "data-type": dataType,
      name: name,
      autocomplete: autocomplete,
      placeholder: placeholder,
      spellcheck: withSpellcheck,
      readonly: isReadonly,
    }

  .text-field(class=[focusedClass, sizeClass])
    input&attributes(inputAttributes)
    if hasArrow
      div(class="text-field__arrow text-field__arrow_down")&attributes({ "data-type": "arrow" })
    if isSubscription
      button&attributes({
        class: ["text-field__arrow-subscribe", "text-field__arrow-subscribe_with-gradient-fill"],
        type: "submit",
        name: "subscribe"
      })